@import 'partials/mixins'
@import 'partials/global'

.card-wrapper
    background-color: #fff
    border-radius: 1rem
    height: 20rem
    margin: 1rem
    width: 89%
    box-shadow: 0 0 2rem rgba($color: #0000, $alpha: .10)
    -webkit-box-shadow: 0 0 2rem rgba($color: #0000, $alpha: .10)

.card-content
    @extend .flex-column-flex-start-main-cross-center
    padding: 2rem

.card-buttons
    width: 40%