
// Partials
@import 'partials/mixins'
@import 'partials/global'
@import 'partials/breakpoints'

// Card
@import 'card/card'
@import 'card/card-buttons'

// Same directory files
@import 'stepper'
@import 'stepper-input'
@import 'stepper-phone'
@import 'stepper-select'
@import 'stepper-upload-file'
@import 'language'
// Steps
@import 'steps/step-one'
@import 'steps/step-two'
@import 'steps/step-three'
@import 'steps/step-four'
@import 'steps/step-five'
@import 'steps/end-step'


.site-page-header
    width: 100%
    background: #FCEB55
    margin-bottom: 2rem 
.seller-form-wrapper
    @media screen and ( max-width: $screen-md-min )
        height: auto
.lang-dropdown-link
    color: #000
    font-weight: bold
    &:hover
        font-weight: normal
        color: #000
// .submitting-spinner
//     background: #0000007c
//     z-index: 10000
//     width: 100%
//     height: 100%
//     position: absolute
//     top: 0
//     left: 0


.ant-spin
    // transform: translate(calc(50vw - 50%), calc(50vh - 50%))
    color: #FCEB55

.ant-spin-dot-item
    background-color: #FCEB55