

.stepper-upload-wrapper
    height: 3rem
    background: #FCEB55
    border-radius: .5rem
    display: flex
    flex-direction: row-reverse
    align-items: center
    cursor: pointer

.upload-element
    display: none !important

._iconUploadBtnHelper
    background: transparent
    box-shadow: unset
    border-color: transparent
    margin: 0

._uploadInputTextHelper
    margin: 0
    flex: 1 1 auto
    letter-spacing: .1rem
    font-weight: 900
.english-container .upload-icon-button
    @extend ._iconUploadBtnHelper
    padding: 0 1rem 0 0


.english-container .upload-input-text
    padding: 0 0 0 2rem
    @extend ._uploadInputTextHelper


.arabic-container .upload-icon-button
    @extend ._iconUploadBtnHelper
    padding: 0 0rem 0 1rem


.arabic-container .upload-input-text
    padding: 0 2rem 0 0
    @extend ._uploadInputTextHelper


.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn::after
    background: transparent
    box-shadow: unset
    border-color: transparent
    color: black
    transition: none !important
    animation: none !important
