
@import 'partials/mixins'
@import 'partials/breakpoints'

.stepper-wrapper
  width: 90%

.steps
  background: #F4F4F4
  border-radius: .9rem

.single-step
  background: #fceb55

.ant-steps-item
  padding: 0.8rem
  color: red

.remove-border-from-left
  border-bottom-left-radius: 0
  border-top-left-radius: 0

.remove-border-from-right
  border-bottom-right-radius: 0
  border-top-right-radius: 0


.ant-steps-item-container
  font-weight: 700
  padding-left: 1rem
  padding-right: 1rem
  @media screen and ( max-width: $screen-md-min )
    padding-left: .5rem
    padding-right: .5rem
    
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon
  color: #fceb558f !important

.ant-steps-item-finish
  background: #fceb55 !important
  transition: all .1s

.ant-steps-item-active
  border-radius: .9rem
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  transition: all .1s

.ant-steps-item:first-child
  border-top-left-radius: .9rem !important
  border-bottom-left-radius: .9rem !important

.ant-steps-item > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after
    background: transparent !important


.ant-steps-item-title
  color: black !important
  font-size: .9rem


.ant-form-item-label
  & > label
    // font-size: 1.2rem
    letter-spacing: .1rem
    color: #575757
  text-align: left


.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail
  visibility: hidden